/******** NOTES: ********
    font-family: 'Rubik', sans-serif; 
    #4a4a4a (Texto del menú)
    #3CDBC0 (Color de fondo de la página)
    #FFFFFF (Color de texto de "Creando diversidad digital")
*********/

/********* reset styles *********/
* {
  margin: 0px;
}

body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

ul {
  list-style: none;
}

/********* HEADER styles *********/

.header {
  background: white;
  width: 100%;
  position: fixed;
}

.logo {
  width: 155px;
}

.menu {
}

.list {
}

.item-list {
}

.link {
  color: #4a4a4a;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

/********* MAIN styles *********/

.main {
  background: #3cdbc0;
  height: 100vh;
  width: 100%;
}

.text {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
}

/********* mediaqueries *********/

@media all and (min-width: 768px) {
}
